@model KagamaAdmin.Areas.cp.ViewModels.Project.ImageView

<div class="bread">
    <a asp-controller="Project" asp-action="Index" asp-area="cp" class="back">
        <img src="~/cp/img/back.png" alt="">Проекты
    </a>
    <p>Обновить проект: @Model.Title</p>
</div>
<div class="main-tabs-btn">
    <a asp-controller="Project" asp-action="Edit" asp-route-id="@Model.Id">Основное</a>
    <a class="active">Изображения</a>
    <a asp-controller="Project" asp-action="Album" asp-route-id="@Model.Id">Альбом</a>
    <a asp-controller="Project" asp-action="Video" asp-route-id="@Model.Id">Видео</a>
    <a asp-controller="Project" asp-action="Seo" asp-route-id="@Model.Id">Seo</a>
</div>
<div class="main-tab active">
    <form asp-action="Image" asp-controller="Project" asp-area="cp" asp-antiforgery="true" enctype="multipart/form-data">
        <input type="hidden" asp-for="Img" />
        <input type="hidden" asp-for="Banner" />
        <input type="hidden" asp-for="Title" />
        <input type="hidden" asp-for="Id" />
        <div class="input">
            <div class="fileinput">
                <input type="file" onchange="readURL(this);" data-id="previewbanner" asp-for="Banner" id="file_banner" />
                <div class="check">Фото для банера</div>
            </div>
            <img id="previewbanner" style="height: 120px" src="@Model.Banner" />
        </div>
        <div class="input">
            <div class="fileinput">
                <input type="file" onchange="readURL(this);" data-id="previewthumb" asp-for="Img" id="file_img" />
                <div class="check">Фото для страниц</div>
            </div>
            <img id="previewthumb" style="height: 120px" src="@Model.Img" />
        </div>
        <div class="flex-button">
            <input class="btn-primary" type="submit" value="Сохранить" />
            <a class="btn-primary btn-secondary" asp-controller="Project" asp-action="Index" asp-area="cp">Отмена</a>
        </div>
    </form>
</div>