@model IEnumerable<KagamaModels.Entities.Service>
@if (Model.Any())
{
    <div class="main-banner" style="background-image: url(@Model.First().Banner);">
        <div class="main-background-opacity"></div>
        <div class="swiper-container" id="swiper-container">
                <div class="swiper-wrapper">
                    <div class="main-swiper-video" style="background-image: url(@Model.First().Banner);">
                        <div class="main-swiper-video-action">
                            <div class="main-swiper-video-action-button">
                            </div>
                            <p>
                                Смотрите видеоотзыв клиента
                            </p>
                        </div>
                        <iframe id="">
                            Test
                        </iframe>
                    </div>
                    <div class="reference-data">
                        <div class="keys-reference-data">
                            <h2>
                                Производим и монтируем всю линейку бесшовных полов ключ:
                            </h2>
                            <ul>
                                @{
                                    int index = 0;
                                        @foreach (var item in Model)
                                        {
                                            index++;
                                            if (index <= 5)
                                            {
                                                <li>
                                                    <a asp-controller="Home" asp-action="Index" asp-route-alias="@item.Alias">
                                                        @item.Title
                                                    </a>
                                                </li>
                                            }
                                        }
                                }
                            </ul>
                        </div>
                        <div class="sentence-reference-data">
                            <div class="sentence-before">
                            </div>
                            <p>
                                <a asp-controller="Home" asp-action="Index" asp-route-alias="#">
                                    Получить коммерческое предложение в течение 14 часов
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            <div class="mobi-swiper-wrapper">
                <div class="keys-reference-data">
                    <h2>
                        Производим и монтируем всю линейку бесшовных полов ключ:
                    </h2>
                    <ul>
                        @{
                            int mobiIndex = 0;
                            @foreach (var item in Model)
                            {
                                mobiIndex++;
                                if (mobiIndex <= 5)
                                {
                                    <li>
                                        <a asp-controller="Home" asp-action="Index" asp-route-alias="@item.Alias">
                                            @item.Title
                                        </a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="main-swiper-video-action">
                    <div class="main-swiper-video-action-button"></div>
                    <p>
                        Смотрите видеоотзыв клиента
                    </p>
                </div>
                <div class="sentence-reference-data">
                    <div class="sentence-before"></div>
                    <p>
                        <a asp-controller="Home" asp-action="Index" asp-route-alias="#">
                            Получить коммерческое предложение в течение 14 часов
                        </a>
                    </p>
                </div>
            </div>
            <div class="main-bottom-static-items">
                <div class="item before-url1">
                    <p>
                        Воплощаем самые сложные задачи дизайна в реальности
                    </p>
                </div>
                <div class="item before-url2">
                    <p>
                        Опыт укладки полов более 13 лет
                    </p>
                </div>
                <div class="item before-url3">
                    <p>
                        2020 цветов на выбор и вкус
                    </p>
                </div>
            </div>
        </div>
    </div>
}