@model KagamaAdmin.ViewModel.NewsView

@{
    ViewData["SeoTitle"] = Model.Page.SeoTitle;
    ViewData["SeoKeywords"] = Model.Page.SeoKeywords;
    ViewData["SeoDescription"] = Model.Page.SeoDescription;
}

<div class="bread">
    <a asp-controller="Home" asp-action="Index" asp-route-alias="">Главная</a>
    <img src="~/client/img/bread.png" alt="">
    @if (ViewContext.RouteData.Values["alias"] != null)
    {
        <a asp-action="Articles" asp-controller="Home" asp-route-alias="">@(string.IsNullOrEmpty(Model.Page.TitleH1) ? Model.Page.Title : Model.Page.TitleH1)</a>
    }
</div>

<div class="news-page">
    <h1>@(string.IsNullOrEmpty(Model.Page.TitleH1) ? Model.Page.Title : Model.Page.TitleH1)</h1>
    <div class="articles-filter">
        <a asp-action="Articles" asp-controller="Home" asp-route-alias="" class="@(ViewContext.RouteData.Values["alias"] == null ? "all text_white" : "")">Все</a>
        @foreach (var item in Model.ArticleCategories)
        {
            <a class="@((ViewContext.RouteData.Values["alias"] != null && ViewContext.RouteData.Values["alias"].ToString().ToLower() == item.Alias.ToLower()) ? "all text_white" : "" )" asp-action="Articles" asp-controller="Home" asp-route-alias="@item.Alias">@item.Title</a>
        }
        <a href="#questions-tab" class="questions text_white">Задать вопрос</a>
    </div>
    @if (Model.Articles.Any())
    {
        <ul class="list">
            @foreach (var item in Model.Articles)
            {
                <li>
                    <a asp-action="Articles" asp-controller="Home" asp-route-alias="@item.Alias">
                        <div class="img" style="background-image: url(@item.Img);">
                            <p class="date">@item.CreationDate.ToString("dd MMMM yyyy")</p>
                        </div>
                        <p class="caption">@item.Title</p>
                        <p class="desc">
                            @item.SubTitle
                        </p>
                    </a>
                </li>
            }
        </ul>
    }
</div>

<div id="questions-tab" class="questions-tab">
    @await Component.InvokeAsync("QuestionsTab")
</div>

@await Component.InvokeAsync("MainMap")
