@model KagamaAdmin.ViewModel.TvView

@{
    ViewData["SeoTitle"] = Model.Page.SeoTitle;
    ViewData["SeoKeywords"] = Model.Page.SeoKeywords;
    ViewData["SeoDescription"] = Model.Page.SeoDescription;
}

<div class="bread">
    <a asp-controller="Home" asp-action="Index" asp-route-alias="">Главная</a>
    <img src="~/client/img/bread.png" alt="">
    @*<a>@(string.IsNullOrEmpty(Model.Page.TitleH1) ? Model.Page.Title : Model.Page.TitleH1)</a>*@
</div>

<div class="tv-page">
    <h1>@(string.IsNullOrEmpty(Model.Page.TitleH1) ? Model.Page.Title : Model.Page.TitleH1)</h1>
    <div class="tv-page-cards">
        <div class="slider-lists-prev" id="sliderListsPrev"></div>
        <div class="slider-lists" id="tvScrollLists">
            @if (Model.Tvs.Any())
            {
                <ul class="tv_lists" id="UnListsTv">
                    @foreach (var tv in Model.Tvs)
                    {
                        <li>
                            <div class="tv-lists-contain-list" style="background-image: url(@tv.Banner);">
                                <a asp-action="TvOpen" asp-controller="Home" asp-route-alias="@tv.Alias">
                                    <div class="tv_lists-info">
                                        <p class="caption">
                                            @tv.Caption
                                        </p>
                                        <p class="title">
                                            @tv.Title
                                        </p>
                                    </div>
                                    <div class="tv-lists-navigation-bottom">
                                        <div class="info-img-contain">
                                                <img src="@tv.Icon" />
                                        </div>
                                        <div class="arrow"></div>
                                    </div>
                                </a>
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>
        <div class="slider-lists-next" id="sliderListsNext"></div>
    </div>
    <div class="slider-select-card" id="sliderSelectCard">
        @{
            int Index = 0;
            @foreach (var tv in Model.Tvs) {
                <input type="radio" name="card" />   
            }
        }
    </div>
</div>

@await Component.InvokeAsync("MainMap")