@model KagamaAdmin.ViewModel.VideosView

@{
    ViewData["SeoTitle"] = string.IsNullOrEmpty(Model.Video.SeoTitle) ? Model.Page.SeoTitle : Model.Video.SeoTitle;
    ViewData["SeoKeywords"] = string.IsNullOrEmpty(Model.Video.SeoKeywords) ? Model.Page.SeoKeywords : Model.Video.SeoKeywords;
    ViewData["SeoDescription"] = string.IsNullOrEmpty(Model.Video.SeoDescription) ? Model.Page.SeoDescription : Model.Video.SeoDescription;
}
<div class="bread">
    <a asp-controller="Home" asp-action="Index" asp-route-alias="">Главная</a>
    <img src="~/client/img/bread.png" alt="">
    <a asp-controller="Home" asp-action="Video" asp-route-alias="">@(string.IsNullOrEmpty(Model.Page.TitleH1) ? Model.Page.Title : Model.Page.TitleH1)</a>
</div>

<div class="videos-page">
    <div class="video-open">
        <div class="video">
            <img src="@Model.Video.Banner" alt="">
            <iframe src="@Model.Video.LinkVideo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <a class="play-button"><img src="~/client/img/play-button.png" alt=""></a>
        </div>
        <div class="video-info">
            <h1>@(string.IsNullOrEmpty(Model.Video.TitleH1) ? Model.Video.Title : Model.Video.TitleH1)</h1>
            <div class="ck-edit">@Html.Raw(Model.Video.Description)</div>
            <div class="soc-block">
                <p>
                    <img src="~/client/img/share2.png" alt="">
                    <span>Поделиться</span>
                </p>
                <ul>
                    <li>
                        <a><img src="~/client/img/video-soc-1.png" alt=""></a>
                    </li>
                    <li>
                        <a><img src="~/client/img/video-soc-2.png" alt=""></a>
                    </li>
                    <li>
                        <a><img src="~/client/img/video-soc-3.png" alt=""></a>
                    </li>
                    <li>
                        <a><img src="~/client/img/video-soc-4.png" alt=""></a>
                    </li>
                    <li>
                        <a><img src="~/client/img/video-soc-5.png" alt=""></a>
                    </li>
                    <li>
                        <a><img src="~/client/img/video-soc-6.png" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @if (Model.Videos.Any())
    {
        <h2>Похожее</h2>
        <ul>
            @foreach (var video in Model.Videos)
            {
                <li>
                    <a asp-action="Video" asp-controller="Home" asp-route-alias="@video.Alias">
                        <div>
                            <img src="@video.Thumb" alt="">
                        </div>
                        @video.Title
                    </a>
                </li>
            }
        </ul>
    }
</div>

@await Component.InvokeAsync("MainMap")