@model KagamaAdmin.ViewModel.ReviewView


<div class="reviews-admin">
    <table>
        <thead>
            <tr>
                <th>Имя</th>
                <th>Город</th>
                <th>Оценка</th>
                <th>Отзыв</th>
                <th>Фото</th>
                <th>Запрос</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Review)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.City</td>
                    <td>@item.Rating</td>
                    <td>@item.Title</td>
                    <td class="reviews-admin-img">
                        @if (@item.Img != null)
                        {
                            <img src="@item.Img" />
                            <img src="@item.Img2" />
                            <img src="@item.Img3" />
                            <img src="@item.Img4" />
                        }
                    </td>
                    @if (!item.IsAllowed)
                    {
                        <td class="reviews-admin-allow">
                            <button>Подтвердить</button>
                        </td>
                    }
                    else
                    {
                        <td class="reviews-admin-cancle">
                            <button>Откланить</button>
                        </td>
                    }
                    <td>@item.CreationData</td>
                </tr>
            }
        </tbody>
    </table>
</div>
