@model KagamaAdmin.ViewModel.ReviewView


<h1>
    @foreach (var item in Model.Review)
    {
        <tr>
            <th scope="row">@item.Name</th>
            <th scope="row">@item.City</th>
            <th scope="row">@item.Title</th>
        </tr>
    }
</h1>
<h1>
    @foreach (var item in Model.Services)
    {
        <tr>
            <th scope="row">@item.Id</th>
            <th scope="row">@item.Title</th>
        </tr>
    }
</h1>