@model KagamaAdmin.ViewModel.ModalLeadView

<form class="lead">
    @Html.AntiForgeryToken()
    <p class="block-title">Оставить заявку</p>
    <div class="@(ViewData.ModelState["MName"]?.Errors.Count > 0 ? "input error" : "input")">
        <input type="text" placeholder="Имя" asp-for="MName">
        <i class="required">*</i>
    </div>
    <div class="@(ViewData.ModelState["MEmail"]?.Errors.Count > 0 ? "input error" : "input")">
        <input type="text" placeholder="Почта" asp-for="MEmail">
        <i class="required">*</i>
    </div>
    <div class="@(ViewData.ModelState["MPhone"]?.Errors.Count > 0 ? "input error" : "input")">
        <input type="text" placeholder="Телефон" asp-for="MPhone">
        <i class="required">*</i>
    </div>
    <div class="flex-input">
        <div class="input">
            <select id="MCovering" name="Covering[]" multiple="multiple" class="multselect">
                <option value="Эпоксидные полы">Эпоксидные полы</option>
                <option value="Промышленные полы">Промышленные полы</option>
                <option value="Спортивные покрытия">Спортивные покрытия</option>
                <option value="Полированный бетон">Полированный бетон</option>
                <option value="Микроцемент">Микроцемент</option>
                <option value="Тераццо">Тераццо</option>
                <option value="3d полы">3d полы</option>
            </select>
        </div>
        <div class="@(ViewData.ModelState["MSquare"]?.Errors.Count > 0 ? "input error" : "input")">
            <input type="text" placeholder="Площадь" asp-for="MSquare">
            <i class="required">*</i>
        </div>
    </div>
    <div class="flex-input">
        <div class="input">
            <input type="text" placeholder="Город" asp-for="MCity">
        </div>
    </div>
    <div class="input">
        <input type="text" placeholder="Адрес" asp-for="MAddress">
    </div>
    <div class="input">
        <textarea placeholder="Ваш вопрос" asp-for="MDescription"></textarea>
    </div>
    <input type="submit" value="Отправить">
</form>