@model KagamaAdmin.Areas.cp.ViewModels.Product.ImageView

<div class="bread">
    <a asp-controller="Product" asp-action="Index" asp-area="cp" class="back">
        <img src="~/cp/img/back.png" alt="">Назад
    </a>
    <p>Обновить материал: @Model.Title</p>
</div>
<div class="main-tabs-btn">
    <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id">Основное</a>
    <a class="active">Изображения</a>
    <a asp-controller="Product" asp-action="Buy" asp-route-id="@Model.Id">С этим товаром покупают</a>
    <a asp-controller="Product" asp-action="Seo" asp-route-id="@Model.Id">Seo</a>
</div>
<div id="main-tab" class="main-tab active">
    <form asp-action="Image" asp-controller="Product" asp-area="cp" asp-antiforgery="true" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Title" />
        <input type="hidden" asp-for="Img1"/>
        <input type="hidden" asp-for="Img2"/>
        <input type="hidden" asp-for="Img3"/>
        <div class="input">
            <div class="fileinput">
                <input type="file" onchange="readURL(this);" data-id="previewbanner" asp-for="Img1" id="file_img1"/>
                <div class="check">Фото 1</div>
            </div>
            <img id="previewbanner" style="height: 120px" src="@Model.Img1"/>
        </div>
        <div class="input">
            <div class="fileinput">
                <input type="file" onchange="readURL(this);" data-id="previewthumb" asp-for="Img2" id="file_img2"/>
                <div class="check">Фото 2</div>
            </div>
            <img id="previewthumb" style="height: 120px" src="@Model.Img2"/>
        </div>
        <div class="input">
            <div class="fileinput">
                <input type="file" onchange="readURL(this);" data-id="previewlist" asp-for="Img3" id="file_img3"/>
                <div class="check">Фото 3</div>
            </div>
            <img id="previewlist" style="height: 120px" src="@Model.Img3"/>
        </div>
        <div class="flex-button">
            <input class="btn-primary" type="submit" value="Сохранить"/>
            <a class="btn-primary btn-secondary" asp-controller="Product" asp-action="Index" asp-area="cp">Отмена</a>
        </div>
    </form>
</div>